<!-- <p>survey-response-dashboard works!</p>
<div class="header">
  <h1>Survey Forms</h1>
</div>

<div class="container">
  <div *ngFor="let survey of surveys" class="card" (click)="goToSurveyResponses(survey.id)">
    <h3>{{ survey.name }}</h3>
    
    <div class="response-container">
      <p class="accept">Accepted: {{ survey.acceptCount }}</p>
      <p class="reject">Rejected: {{ survey.rejectCount }}</p>
    </div>
  </div>
</div>

<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 0">Prev</button>
  <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Next</button>
</div> -->
<p>Survey Response Dashboard</p>
<div class="header">
  <h1>Survey Forms</h1>
</div>

<div class="container">
  <div *ngFor="let survey of surveys" class="card" (click)="goToSurveyResponses(survey.id)">
    <h3>{{ survey.name }}</h3>
    
    <div class="response-container">
      <p class="accept">Accepted: {{ survey.acceptCount }}</p>
      <p class="reject">Rejected: {{ survey.rejectCount }}</p>
    </div>
  </div>
</div>

<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 0">Prev</button>
  <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Next</button>
</div>
