
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: linear-gradient(135deg, #e0e7ef, #f8f9fa);
}

.header {
  margin-bottom: 25px;
  text-align: center;
}

.header h1 {
    margin-top: 70px;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #091133;
}

.container {
    margin-top: 50px;
    margin-left: 180px;
    height : auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 900px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 300px;
  height: 250px;
  line-height: 26px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.card {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #091133;
  text-align: center;
  margin-top: 8px;
}
.accept {
  color: green !important;
}
.reject {
  color: red !important;
}
.response-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  height: 70px;
  background: #f1f1f1;
}

.accept,
.reject {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 8px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #091133;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.survey-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
}